<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Iphone-Apple</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="icon" href="./img/icon/apple-icon-4.png" />
    <link rel="stylesheet" href="./style/style.css" />
  </head>

  <body style="background-color: #f5f5f7">
    <nav class="navbar navbar-expand-md p-3" style="background-color: #f5f5f7">
      <div
        class="container-fluid justify-content-center header-font-size"
        style="background-color: #f5f5f7"
      >
        <button
          class="navbar-toggler d-md-none ms-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse d-md-block text-center justify-content-center"
          style="background-color: #f5f5f7"
          id="navbarNav"
        >
          <ul
            class="navbar-nav align-items-center h-100"
            style="background-color: #f5f5f7"
          >
            <li class="nav-item mx-2">
              <a class="nav-link" href="#"
                ><span class="globalnav-image-regular globalnav-link-image"
                  ><svg
                    height="44"
                    viewBox="0 0 14 44"
                    width="14"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="m13.0729 17.6825a3.61 3.61 0 0 0 -1.7248 3.0365 3.5132 3.5132 0 0 0 2.1379 3.2223 8.394 8.394 0 0 1 -1.0948 2.2618c-.6816.9812-1.3943 1.9623-2.4787 1.9623s-1.3633-.63-2.613-.63c-1.2187 0-1.6525.6507-2.644.6507s-1.6834-.9089-2.4787-2.0243a9.7842 9.7842 0 0 1 -1.6628-5.2776c0-3.0984 2.014-4.7405 3.9969-4.7405 1.0535 0 1.9314.6919 2.5924.6919.63 0 1.6112-.7333 2.8092-.7333a3.7579 3.7579 0 0 1 3.1604 1.5802zm-3.7284-2.8918a3.5615 3.5615 0 0 0 .8469-2.22 1.5353 1.5353 0 0 0 -.031-.32 3.5686 3.5686 0 0 0 -2.3445 1.2084 3.4629 3.4629 0 0 0 -.8779 2.1585 1.419 1.419 0 0 0 .031.2892 1.19 1.19 0 0 0 .2169.0207 3.0935 3.0935 0 0 0 2.1586-1.1368z"
                    ></path></svg></span
              ></a>
            </li>

            <li class="nav-item mx-2 dropdown">
              <a
                class="nav-link"
                data-bs-toggle="dropdown"
                id="storeDropdown"
                role="button"
                href="#"
                aria-expanded="false"
                >Store</a
              >
              <div
                class="dropdown-menu fullscreen-dropdown"
                aria-labelledby="storeDropdown"
              >
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-3">
                      <h6>Shop</h6>
                      <a href="#" class="dropdown-item h4">Shop the Latest</a>
                      <a href="#" class="dropdown-item h4">Mac</a>
                      <a href="#" class="dropdown-item h4">iPad</a>
                      <a href="#" class="dropdown-item h4">iPhone</a>
                      <a href="#" class="dropdown-item h4">Apple Watch</a>
                      <a href="#" class="dropdown-item h4">Accessories</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#">Mac</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#">Ipad</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#">Iphone</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#">Watch</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#">Vision</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#">Airpods</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#">TV & home</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#">Entertaiment</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#">Accessories</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#">Support</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#"
                ><span class="globalnav-image-regular"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="15px"
                    height="44px"
                    viewBox="0 0 15 44"
                  >
                    <path
                      d="M14.298,27.202l-3.87-3.87c0.701-0.929,1.122-2.081,1.122-3.332c0-3.06-2.489-5.55-5.55-5.55c-3.06,0-5.55,2.49-5.55,5.55 c0,3.061,2.49,5.55,5.55,5.55c1.251,0,2.403-0.421,3.332-1.122l3.87,3.87c0.151,0.151,0.35,0.228,0.548,0.228 s0.396-0.076,0.548-0.228C14.601,27.995,14.601,27.505,14.298,27.202z M1.55,20c0-2.454,1.997-4.45,4.45-4.45 c2.454,0,4.45,1.997,4.45,4.45S8.454,24.45,6,24.45C3.546,24.45,1.55,22.454,1.55,20z"
                    ></path>
                  </svg> </span
              ></a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#"
                ><span class="globalnav-image-regular"
                  ><svg
                    height="44"
                    viewBox="0 0 14 44"
                    width="14"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="m11.3535 16.0283h-1.0205a3.4229 3.4229 0 0 0 -3.333-2.9648 3.4229 3.4229 0 0 0 -3.333 2.9648h-1.02a2.1184 2.1184 0 0 0 -2.117 2.1162v7.7155a2.1186 2.1186 0 0 0 2.1162 2.1167h8.707a2.1186 2.1186 0 0 0 2.1168-2.1167v-7.7155a2.1184 2.1184 0 0 0 -2.1165-2.1162zm-4.3535-1.8652a2.3169 2.3169 0 0 1 2.2222 1.8652h-4.4444a2.3169 2.3169 0 0 1 2.2222-1.8652zm5.37 11.6969a1.0182 1.0182 0 0 1 -1.0166 1.0171h-8.7069a1.0182 1.0182 0 0 1 -1.0165-1.0171v-7.7155a1.0178 1.0178 0 0 1 1.0166-1.0166h8.707a1.0178 1.0178 0 0 1 1.0164 1.0166z"
                    ></path></svg></span
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid pt-5 margin-iphone pb-5 bg-sefid">
      <p class="h6 ps-5 ps-md-5">iPhone</p>
      <div class="row">
        <div class="col-md-12 d-flex mt-5 flex-wrap">
          <div
            class="card col-md-1 col-3 text-center h5 border-none bg-transparent mb-3 ms-md-3"
          >
            <img
              class="img-fluid w-50 mx-auto mt-3"
              src="./img/iphone-pics/nav_iphone_17pro__d60uog2c064i_large.png"
              alt=""
            />
            <div class="card-body d-flex flex-column">
              <p class="card-text">iphone 17 pro</p>
              <p class="text-danger fs-6">new</p>
            </div>
          </div>

          <div
            class="card col-md-1 col-3 text-center h5 border-none bg-transparent mb-3 ms-md-3"
          >
            <img
              class="img-fluid w-50 mx-auto mt-3"
              src="./img/iphone-pics/nav_iphone_air__bbj6j2c39efm_large.png"
              alt=""
            />
            <div class="card-body">
              <p class="card-text">iphone air</p>
              <p class="text-danger fs-6">new</p>
            </div>
          </div>

          <div
            class="card col-md-1 col-3 text-center h5 border-none bg-transparent mb-3 ms-md-3"
          >
            <img
              class="img-fluid w-50 mx-auto mt-3"
              src="./img/iphone-pics/nav_iphone_17__ffxyxejeezqm_large.png"
              alt=""
            />
            <div class="card-body">
              <p class="card-text">iphone 17</p>
              <p class="text-danger fs-6">new</p>
            </div>
          </div>

          <div
            class="card col-md-1 col-3 text-center h5 border-none bg-transparent mb-3 ms-md-3"
          >
            <img
              class="img-fluid w-50 mx-auto mt-3"
              src="./img/iphone-pics/nav_iphone_16__kcscr25z9num_large.png"
              alt=""
            />
            <div class="card-body"><p class="card-text">iphone 16</p></div>
          </div>

          <div
            class="card col-md-1 col-6 text-center d-none d-md-block h5 border-none bg-transparent mb-3 ms-md-3"
          >
            <img
              class="img-fluid w-50 mx-auto mt-3"
              src="./img/iphone-pics/nav_iphone_16e__3qxl86zrk0yq_large.png"
              alt=""
            />
            <div class="card-body"><p class="card-text">iphone 16e</p></div>
          </div>

          <!-- آیتم‌های مخفی در موبایل -->
          <div
            class="card col-md-1 text-center h5 border-none d-none d-md-block bg-transparent ms-md-3"
          >
            <img
              class="img-fluid w-50 mx-auto mt-4"
              src="./img/iphone-pics/nav_accessories__e5zgfl9e0vwy_large.png"
              alt=""
            />
            <div class="card-body mt-3">
              <p class="card-text">accessories</p>
            </div>
          </div>

          <div
            class="card col-md-1 text-center h5 border-none d-none d-md-block bg-transparent ms-3"
          >
            <img
              class="img-fluid w-75 mx-auto mt-4"
              src="./img/iphone-pics/nav_compare__fka067e4fgq6_large.png"
              alt=""
            />
            <div class="card-body mt-1"><p class="card-text">compare</p></div>
          </div>

          <div
            class="card col-md-1 text-center h5 border-none d-none d-md-block bg-transparent ms-3"
          >
            <img
              class="img-fluid w-50 mx-auto mt-4"
              src="./img/iphone-pics/nav_shop__ehl4csfdphg2_large.png"
              alt=""
            />
            <div class="card-body"><p class="card-text">shop</p></div>
          </div>

          <div
            class="card col-md-1 text-center h5 border-none d-none d-md-block bg-transparent ms-3"
          >
            <img
              class="img-fluid w-50 mx-auto mt-5"
              src="./img/iphone-pics/nav_ios__efygxkc3oqs2_large.png"
              alt=""
            />
            <div class="card-body mt-3"><p class="card-text">Ios</p></div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="container-fluid mt-5"
      style="min-height: 900px; background-color: #f5f5f7"
    >
      <div class="d-flex justify-content-between margin-iphone">
        <p class="h6 ps-5 pt-3">Explore the lineup.</p>
        <a href="#" class="d-block mt-5 margin-right d-none d-md-block"
          >compare all models</a
        >
      </div>

      <div
        class="carousel slide pb-5 ms-2"
        id="myCarousel"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid">
              <div class="row margin-iphone mt-5">
                <div class="col-md-3 col-5 ms-5">
                  <div
                    class="card rounded-5 border-none"
                    style="background-color: #f5f5f7"
                  >
                    <img
                      src="./img/big-iphone-pics/iphone_17pro__0s6piftg70ym_large_2x.jpg"
                      alt=""
                      class="w-100 img-fluid rounded-5 card-img-top transition"
                    />
                    <div class="card-body text-center border-none">
                      <p class="text-danger fs-6 mt-3">new</p>
                      <p class="h3">iphone 17 pro</p>
                      <p class="fs-5">
                        Innovative design for ultimate performance and battery
                        life.
                      </p>
                      <p class="h5 mt-5">
                        From $1099 or $45.79/mo. for 24 mo.1
                      </p>
                      <div class="d-flex justify-content-evenly mt-3">
                        <button class="btn btn-primary rounded-5 py-2 px-3">
                          learn more
                        </button>
                        <a class="mt-2 me-4" href="#">Buy</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-5 ms-5">
                  <div
                    class="card rounded-5 border-none"
                    style="background-color: #f5f5f7"
                  >
                    <img
                      src="./img/big-iphone-pics/iphone_air__f0t56fef3oey_large_2x.jpg"
                      alt=""
                      class="w-100 img-fluid rounded-5 card-img-top transition"
                    />
                    <div class="card-body text-center border-none">
                      <p class="text-danger fs-6 mt-3">new</p>
                      <p class="h3">iphone Air</p>
                      <p class="fs-5">
                        The thinnest iPhone ever. With the power of pro inside.
                      </p>
                      <p class="h5 mt-5">From $999 or $41.62/mo. for 24 mo.1</p>
                      <div class="d-flex justify-content-evenly mt-3">
                        <button class="btn btn-primary rounded-5 py-2 px-3">
                          learn more
                        </button>
                        <a class="mt-2 me-4" href="#">Buy</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-5 d-md-block d-none ms-5">
                  <div
                    class="card rounded-5 border-none"
                    style="background-color: #f5f5f7"
                  >
                    <img
                      src="./img/big-iphone-pics/iphone_17__ck7zzemcw37m_large.jpg"
                      alt=""
                      class="w-100 img-fluid rounded-5 card-img-top transition"
                    />
                    <div class="card-body text-center border-none">
                      <p class="text-danger fs-6 mt-3">new</p>
                      <p class="h3">iphone 17</p>
                      <p class="fs-5">
                        Even more delightful. Even more durable.
                      </p>
                      <p class="h5 mt-5">From $799 or $33.29/mo. for 24 mo.1</p>
                      <div class="d-flex justify-content-evenly mt-3">
                        <button class="btn btn-primary rounded-5 py-2 px-3">
                          learn more
                        </button>
                        <a class="mt-2 me-4" href="#">Buy</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row margin-iphone mt-5">
                <div class="col-md-3 col-5 ms-5">
                  <div
                    class="card rounded-5 border-none"
                    style="background-color: #f5f5f7"
                  >
                    <img
                      src="./img/big-iphone-pics/iphone_16__drr03yfz644m_large.jpg"
                      alt=""
                      class="w-100 img-fluid rounded-5 card-img-top transition"
                    />
                    <div class="card-body text-center border-none">
                      <p class="text-danger fs-6 mt-3">new</p>
                      <p class="h3">iphone 16</p>
                      <p class="fs-5 mb-5 d-block">
                        Amazing performance. Durable design.
                      </p>
                      <p class="h5 mt-5">From $699 or $29.12/mo. for 24 mo.1</p>
                      <div class="d-flex justify-content-evenly mt-3">
                        <button class="btn btn-primary rounded-5 py-2 px-3">
                          learn more
                        </button>
                        <a class="mt-2 me-4" href="#">Buy</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-5 ms-5">
                  <div
                    class="card rounded-5 border-none"
                    style="background-color: #f5f5f7"
                  >
                    <img
                      src="./img/big-iphone-pics/iphone_16e__dar81seif0cy_large.jpg"
                      alt=""
                      class="w-100 img-fluid rounded-5 card-img-top transition"
                    />
                    <div class="card-body text-center border-none">
                      <p class="text-danger fs-6 mt-3">new</p>
                      <p class="h3">iphone 16e</p>
                      <p class="fs-5">
                        Everything you love. Including the price.
                      </p>
                      <p class="h5 mt-5">From $599 or $24.95/mo. for 24 mo.1</p>
                      <div class="d-flex justify-content-evenly mt-3">
                        <button class="btn btn-primary rounded-5 py-2 px-3">
                          learn more
                        </button>
                        <a class="mt-2 me-4" href="#">Buy</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 d-md-block d-none ms-5">
                  <div
                    class="card rounded-5 border-none"
                    style="background-color: #f5f5f7"
                  >
                    <img
                      src="./img/big-iphone-pics/iphone_17pro__0s6piftg70ym_large_2x.jpg"
                      alt=""
                      class="w-100 img-fluid rounded-5 card-img-top transition"
                    />
                    <div class="card-body text-center border-none">
                      <p class="text-danger fs-6 mt-3">new</p>
                      <p class="h3">iphone 17 pro</p>
                      <p class="fs-5">
                        Innovative design for ultimate performance and battery
                        life.
                      </p>
                      <p class="h5 mt-5">
                        From $1099 or $45.79/mo. for 24 mo.1
                      </p>
                      <div class="d-flex justify-content-evenly mt-3">
                        <button class="btn btn-primary rounded-5 py-2 px-3">
                          learn more
                        </button>
                        <a class="mt-2 me-4" href="#">Buy</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button
            class="carousel-control-prev d-md-block d-none"
            type="button"
            data-bs-target="#myCarousel"
            data-bs-slide="prev"
          >
            <svg
              class="icon-control icon-control-chevronleft"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 36 36"
              height="70"
            >
              <path
                d="m20 25c-.3838 0-.7676-.1465-1.0605-.4395l-5.5-5.5c-.5859-.5854-.5859-1.5356 0-2.1211l5.5-5.5c.5859-.5859 1.5352-.5859 2.1211 0 .5859.5854.5859 1.5356 0 2.1211l-4.4395 4.4395 4.4395 4.4395c.5859.5854.5859 1.5356 0 2.1211-.293.293-.6768.4395-1.0605.4395z"
              ></path>
            </svg>
          </button>
          <button
            class="carousel-control-next d-md-block d-none"
            type="button"
            data-bs-target="#myCarousel"
            data-bs-slide="next"
          >
            <svg
              class="icon-control icon-control-chevronright"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 36 36"
              height="70"
            >
              <path
                d="m22.5597 16.9375-5.5076-5.5c-.5854-.5854-1.5323-.5825-2.1157.0039-.5835.5869-.5815 1.5366.0039 2.1211l4.4438 4.4375-4.4438 4.4375c-.5854.5845-.5874 1.5342-.0039 2.1211.2922.2944.676.4414 1.0598.4414.3818 0 .7637-.1455 1.0559-.4375l5.5076-5.5c.2815-.2812.4403-.6636.4403-1.0625s-.1588-.7812-.4403-1.0625z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="container-fluid pt-5 bg-sefid" style="min-height: 900px">
      <div class="d-flex justify-content-between margin-iphone">
        <p class="h6 ps-5">
          Why it's best to buy an iPhone<br />
          from Apple
        </p>
        <a href="#" class="d-block mt-5 margin-right no-underline"
          >Buy iPhone</a
        >
      </div>

      <div
        class="carousel slide pb-5 ms-2"
        id="myCarousel2"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid">
              <div class="row margin-iphone mt-5">
                <div class="col-md-3 col-5 ms-5">
                  <div
                    class="card border-none bg-light rounded-5 card-hover card-fixed"
                    data-bs-toggle="modal"
                    data-bs-target="#appleModal"
                  >
                    <div class="card-body">
                      <div class="card-text p-3">
                        <p class="h5">Apple trade in</p>
                        <p class="h3 py-2 d-md-block d-none">
                          Trade-in. Upgrade. Save. Or recycle for free.
                        </p>
                        <p class="h fs-5 d-md-block d-none">
                          With Apple Trade In, you can get great trade-in value
                          for your current device and have it
                        </p>
                      </div>
                      <img
                        src="./img/noname1/Screenshot 2025-10-28 220228.png"
                        alt=""
                        class="card-img"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-5 ms-5">
                  <div
                    class="card border-none bg-light rounded-5 card-hover card-fixed"
                    data-bs-toggle="modal"
                    data-bs-target="#appleModal"
                  >
                    <div class="card-body">
                      <div class="card-text p-3">
                        <p class="h5">Apple Delivery & Pickup</p>
                        <p class="h3 py-2 d-md-block d-none">
                          The products you want. As you want it..
                        </p>
                        <p class="h fs-5">
                          With convenient delivery and pickup methods, Apple
                          makes it even easier and safer for you!
                        </p>
                      </div>
                      <img
                        src="./img/noname1/Screenshot 2025-10-28 220239.png"
                        alt=""
                        class="card-img mt-3"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-3 d-md-block d-none ms-5">
                  <div
                    class="card border-none bg-light rounded-5 card-hover card-fixed"
                    data-bs-toggle="modal"
                    data-bs-target="#appleModal"
                  >
                    <div class="card-body">
                      <div class="card-text p-3">
                        <p class="h5">Options</p>
                        <p class="h3 py-2">financing</p>
                        <p class="h fs-5 mb-5 d-md-block d-none">
                          Pay with Zinia in installments...
                        </p>
                      </div>
                      <img
                        src="./img/noname1/Screenshot 2025-10-28 220247.png"
                        alt=""
                        class="card-img mt-5 pt-4"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row margin-iphone mt-5">
                <div class="col-md-3 col-5 ms-5">
                  <div
                    class="card border-none bg-light rounded-5 card-hover card-fixed"
                    data-bs-toggle="modal"
                    data-bs-target="#appleModal"
                  >
                    <div class="card-body">
                      <div class="card-text p-3">
                        <p class="h5">Apple store app</p>
                        <p class="h3 py-2">Shopping made for you.</p>
                        <p class="h fs-5 mb-5 d-md-block d-none">
                          Shop in the Apple store app
                        </p>
                      </div>
                      <img
                        src="./img/noname1/Screenshot 2025-10-28 223128.png"
                        alt=""
                        class="card-img mt-2 pt-4"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-5 ms-5">
                  <div
                    class="card border-none bg-light rounded-5 card-hover card-fixed"
                    data-bs-toggle="modal"
                    data-bs-target="#appleModal"
                  >
                    <div class="card-body">
                      <div class="card-text p-3">
                        <p class="h5">Options</p>
                        <p class="h3 py-2">financing</p>
                        <p class="h fs-5 mb-5 d-md-block d-none">
                          Pay with Zinia in installments...
                        </p>
                      </div>
                      <img
                        src="./img/noname1/Screenshot 2025-10-28 220247.png"
                        alt=""
                        class="card-img mt-5 pt-4"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-3 d-md-block d-none ms-5">
                  <div
                    class="card border-none bg-light rounded-5 card-hover card-fixed"
                    data-bs-toggle="modal"
                    data-bs-target="#appleModal"
                  >
                    <div class="card-body">
                      <div class="card-text p-3">
                        <p class="h5">Apple trade in</p>
                        <p class="h3 py-2">
                          Trade-in. Upgrade. Save. Or recycle for free.
                        </p>
                        <p class="h fs-5 d-md-block d-none">
                          With Apple Trade In, you can get great trade-in value
                          for your current device and have
                        </p>
                      </div>
                      <img
                        src="./img/noname1/Screenshot 2025-10-28 220228.png"
                        alt=""
                        class="card-img"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button
            class="carousel-control-prev d-md-block d-none"
            type="button"
            data-bs-target="#myCarousel2"
            data-bs-slide="prev"
          >
            <svg
              class="icon-control icon-control-chevronleft"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 36 36"
              height="70"
            >
              <path
                d="m20 25c-.3838 0-.7676-.1465-1.0605-.4395l-5.5-5.5c-.5859-.5854-.5859-1.5356 0-2.1211l5.5-5.5c.5859-.5859 1.5352-.5859 2.1211 0 .5859.5854.5859 1.5356 0 2.1211l-4.4395 4.4395 4.4395 4.4395c.5859.5854.5859 1.5356 0 2.1211-.293.293-.6768.4395-1.0605.4395z"
              ></path>
            </svg>
          </button>
          <button
            class="carousel-control-next d-md-block d-none"
            type="button"
            data-bs-target="#myCarousel2"
            data-bs-slide="next"
          >
            <svg
              class="icon-control icon-control-chevronright"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 36 36"
              height="70"
            >
              <path
                d="m22.5597 16.9375-5.5076-5.5c-.5854-.5854-1.5323-.5825-2.1157.0039-.5835.5869-.5815 1.5366.0039 2.1211l4.4438 4.4375-4.4438 4.4375c-.5854.5845-.5874 1.5342-.0039 2.1211.2922.2944.676.4414 1.0598.4414.3818 0 .7637-.1455 1.0559-.4375l5.5076-5.5c.2815-.2812.4403-.6636.4403-1.0625s-.1588-.7812-.4403-1.0625z"
              ></path>
            </svg>
          </button>
          <div class="modal fade" id="appleModal" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content p-5 rounded-4">
                <button
                  type="button"
                  class="btn-close ms-auto"
                  data-bs-dismiss="modal"
                ></button>

                <h6 class="text-muted">Ways to Buy</h6>
                <h2 class="h6">Apple Card Monthly Installments</h2>

                <p class="mt-3">
                  Pay over time, interest-free with Apple Card. Choose Apple
                  Card Monthly Installments at checkout.
                </p>

                <a href="#" class="link-underline-none">Learn more ›</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid pt-5 bg-sefid">
      <div class="d-flex justify-content-between margin-iphone">
        <p class="h6 ps-5">Significant others.</p>
      </div>
      <div class="container px-5 py-5 background-light mt-5 rounded-5">
        <div class="row align-items-center">
          <div class="col-md-5">
            <div class="accordion apple-accordion" id="appleAccordion">
              <div class="accordion-item border-0 background-light">
                <h2 class="accordion-header" id="headingOne">
                  <button
                    class="accordion-button shadow-none collapsed h-title"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="false"
                    aria-controls="collapseOne"
                  >
                    <p class="h3">iPhone and Mac</p>
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingOne"
                  data-bs-parent="#appleAccordion"
                >
                  <div class="accordion-body pt-3 fs-5">
                    With iPhone Mirroring, you can view your iPhone screen on
                    your Mac and control it without picking up your phone.
                    Continuity features also let you answer calls or messages
                    right from your Mac. You can even copy images, video, or
                    text from your iPhone and paste it all into a different app
                    on your Mac. And with iCloud, you can access your files from
                    either device.
                  </div>
                </div>
              </div>

              <hr class="my-0" />

              <div class="accordion-item border-0 background-light">
                <h2 class="accordion-header" id="headingTwo">
                  <button
                    class="accordion-button shadow-none collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    <p class="h3">iPhone and Apple Watch</p>
                  </button>
                </h2>
                <div
                  id="collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingTwo"
                  data-bs-parent="#appleAccordion"
                >
                  <div class="accordion-body pt-3 fs-5">
                    Misplaced your iPhone? The latest Apple Watch models can
                    show you its approximate distance and direction.16 To set up
                    a group photo on your iPhone, join the group and use Apple
                    Watch as a viewfinder to snap the shot. And when you take a
                    call on your Apple Watch, just tap your iPhone to continue
                    the conversation there.
                  </div>
                </div>
              </div>

              <hr class="my-0" />

              <div class="accordion-item border-0 background-light">
                <h2 class="accordion-header" id="headingThree">
                  <button
                    class="accordion-button shadow-none"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree"
                    aria-expanded="true"
                    aria-controls="collapseThree"
                  >
                    <p class="h3">iPhone and AirPods</p>
                  </button>
                </h2>
                <div
                  id="collapseThree"
                  class="accordion-collapse collapse show"
                  aria-labelledby="headingThree"
                  data-bs-parent="#appleAccordion"
                >
                  <div class="accordion-body pt-3 fs-5">
                    Set up AirPods on iPhone with just a tap. You’ll love
                    Adaptive Audio, which automatically tailors the noise
                    control for you to provide the best listening experience
                    across different environments and interactions throughout
                    the day.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-7 text-center">
            <img
              src="./img/accordian img/Screenshot 2025-10-31 125809.png"
              alt="iPhone and AirPods"
              class="img-fluid rounded-4"
              id="accordionImage"
            />
          </div>
        </div>
      </div>
    </div>

    <footer class="container-fluid pt-5 bg-sefid">
      <div
        class="d-flex justify-content-between margin-iphone mt-5 pt-5 background-light"
      >
        <p class="h6 ps-5 pt-5">iPhone</p>
      </div>
      <div class="row margin-iphone pt-5 background-light">
        <div class="col-md-2 px-5 ms-3">
          <p>Explore iPhone</p>
          <ul class="list-unstyled pb-3">
            <li class="mt-3">
              <a class="text-decoration-none text-dark h3" href="#"
                >Explore All iPhone</a
              >
            </li>
            <li class="mt-3">
              <a class="text-decoration-none text-dark h3" href="#"
                >iPhone 17 pro</a
              >
            </li>
            <li class="mt-3">
              <a class="text-decoration-none text-dark h3" href="#"
                >iPhone Air</a
              >
            </li>
            <li class="mt-3">
              <a class="text-decoration-none text-dark h3" href="#"
                >iPhone 17</a
              >
            </li>
            <li class="mt-3">
              <a class="text-decoration-none text-dark h3" href="#"
                >iPhone 16</a
              >
            </li>
            <li class="mt-3">
              <a class="text-decoration-none text-dark h3" href="#"
                >iPhone 16e</a
              >
            </li>
          </ul>
          <div>
            <p class="fs-6">Compare iPhone</p>
            <p class="fs-6">Switch from Android</p>
          </div>
        </div>

        <div class="col-md-2 ps-5 ms-3">
          <p>Shop iPhone</p>
          <ul class="list-unstyled">
            <li class="mt-2">
              <a class="text-decoration-none text-dark h5" href="#"
                >Shop iPhone</a
              >
            </li>
            <li class="mt-2">
              <a class="text-decoration-none text-dark h5" href="#"
                >iPhone Accessories</a
              >
            </li>
            <li class="mt-2">
              <a class="text-decoration-none text-dark h5" href="#"
                >Apple trade In</a
              >
            </li>
            <li class="mt-2">
              <a class="text-decoration-none text-dark h5" href="#"
                >Carrier Deals at Apple</a
              >
            </li>
            <li class="mt-2">
              <a class="text-decoration-none text-dark h5" href="#"
                >Financing</a
              >
            </li>
          </ul>
        </div>
        <div class="col-md-2 ps-5 ms-3">
          <p>More from iPhone</p>
          <ul class="list-unstyled">
            <li class="mt-2">
              <a class="text-decoration-none text-dark h5" href="#"
                >iPhone Support</a
              >
            </li>
            <li class="mt-2">
              <a class="text-decoration-none text-dark h5" href="#"
                >AppleCare</a
              >
            </li>
            <li class="mt-2">
              <a class="text-decoration-none text-dark h5" href="#">ios 26</a>
            </li>
            <li class="mt-2">
              <a class="text-decoration-none text-dark h5" href="#"
                >Apple Intelligent</a
              >
            </li>
            <li class="mt-2">
              <a class="text-decoration-none text-dark h5" href="#"
                >Apps By Apple</a
              >
            </li>
            <li class="mt-2">
              <a class="text-decoration-none text-dark h5" href="#"
                >iPhone Privacy</a
              >
            </li>
            <li class="mt-2">
              <a class="text-decoration-none text-dark h5" href="#"
                >Better with Mac</a
              >
            </li>
            <li class="mt-2">
              <a class="text-decoration-none text-dark h5" href="#">iCloud +</a>
            </li>
            <li class="mt-2">
              <a class="text-decoration-none text-dark h5" href="#"
                >Wallet, Pay, Card</a
              >
            </li>
            <li class="mt-2">
              <a class="text-decoration-none text-dark h5" href="#">Siri</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <script>
      const images = {
        collapseOne: "./img/accordian img/Screenshot 2025-10-31 125741.png",
        collapseTwo: "./img/accordian img/Screenshot 2025-10-31 125759.png",
        collapseThree: "./img/accordian img/Screenshot 2025-10-31 125809.png",
      };

      const imgElement = document.getElementById("accordionImage");

      const accordionItems = document.querySelectorAll(".accordion-collapse");

      accordionItems.forEach((item) => {
        item.addEventListener("show.bs.collapse", (e) => {
          const newSrc = images[e.target.id];
          if (newSrc) {
            imgElement.classList.add("fade");
            setTimeout(() => {
              imgElement.src = newSrc;
              imgElement.classList.remove("fade");
            }, 200);
          }
        });
      });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
